<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>
<body>
    <h2>Create Account</h2>
    <form method="post" action="/create_account">
        <label for="create_account_username">Name:</label>
        <input type="text" id="create_account_username" name="create_account_username" required>
        <br>
        <label for="create_account_password">Password:</label>
        <input type="password" id="create_account_password" name="create_account_password" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <h2>Create Currency</h2>
    <form method="post" action="/create_currency">
        <label for="create_currency_name">Currency Name:</label>
        <input type="text" id="create_currency_name" name="create_currency_name" required>
        <br>
        <label for="master_account_id">Master User ID:</label>
        <input type="text" id="master_account_id" name="master_account_id" required>
        <br>
        <label for="master_password">Password:</label>
        <input type="password" id="master_password" name="master_password" required>
        <br>
        <label for="max_supply">Supply Amount:</label>
        <input type="text" id="max_supply" name="max_supply" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <h2>Transfer Funds</h2>
    <form method="post" action="/transfer_funds">
        <label for="sender_account_id">Sender User ID:</label>
        <input type="text" id="sender_account_id" name="sender_account_id" required>
        <br>
        <label for="auth_transfer_password">Sender User Password:</label>
        <input type="password" id="auth_transfer_password" name="auth_transfer_password" required>
        <br>
        <label for="receiver_account_id">Receiver User ID:</label>
        <input type="text" id="receiver_account_id" name="receiver_account_id" required>
        <br>
        <label for="currency_id">Currency ID:</label>
        <input type="text" id="currency_id" name="currency_id" required>
        <br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>
        <br>
        <button type="submit">Submit</button>
    </form>
        <h2>Retrieve Balance</h2>
    <form method="get" action="/retrieve_balance/username">
        <label for="retrieve_balance_username">Username: </label>
        <input type="text" id="retrieve_balance_username" name="retrieve_balance_username">
        <br>
        <button type="submit">Submit</button>
    </form>
    <h2>Retrieve Transaction Record</h2>
    <form method="get" action="/retrieve_transaction_record">
        <button type="submit">Submit</button>
    </form>
    <h2>Retrieve Transaction Record By username</h2>
    <form method="get" action="/retrieve_transaction_record/username">
        <label for="retrieve_transaction_record_username">Username:</label>
        <input type="text" id="retrieve_transaction_record_username" name="retrieve_transaction_record_username" required>
        <br>
        <button type="submit">Submit</button>
    </form>
        <h2>Delete Account</h2>
    <form method="post" action="/delete_account">
        <label for="delete_account_name">Username:</label>
        <input type="text" id="delete_account_name" name="delete_account_name" required>
        <br>
        <label for="delete_account_password">Password:</label>
        <input type="password" id="delete_account_password" name="delete_account_password" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
